#mainBody {
    color: white;
    padding-left: 5vw;
    padding-right: 5vw;
    padding-top: 2vh;
}

.pinnedText {
    text-align:left;
    margin-bottom: 20px;
    color: #e54242;
}
.action {
    display:block;
}
.row {
    position: relative;
}

.listActions {
    position: absolute;
    right: 1%;
    bottom: 0;
    text-align:right;
}
