#favoriteIcon {
    color: white;
}

#clickedFavoriteIcon {
    color: #e54242;
}

.imageOption {
    height: 15vw;
}

.imageOption {
    /* background-color:white !important; */
    margin: 5px;
}

.createListContainer {
    padding-left:30vw;
    padding-right:30vw;
    color: white;
    overflow-y:hidden;
}

#listTitle {
    width: 100%;
}

#favoriteIcon, #pinText {
    display: inline;
}

#pinText {
    margin-left: 20px;
    margin-right: 18px;
}

#promptText {
    margin-top: 25vh;
}

.createListText {
    float: right;
}
/* .imageOption {
    background-image:url("../../images/texture1.jpg");
    background-size:cover;
    background-position:center;
} */