
#userInformation {
    height: 225px;
    background-color:#373737;
    padding-left: 8vw;
    padding-right: 3vw;
    padding-top: 5vh;
    text-align: left;
}

#userInformation h1 {
    text-align:left;
    color: white;
}

.userAvatar {
    background-color:white;
    width: 145px; 
    height: 145px;
    border-radius: 50%;
    background-size: cover;
    border: solid 1px #e54242;
    position: relative;
}

.row {
    position:relative;
}

.userName {
    padding-top: 50px;
}

#name {
    font-size: 40px;
    margin-top: 5px;
    font-weight: 100;
}

#myTab {
    background-color:#373737;
    padding-left: 8vw;
}

#userPicture {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color:white;
}

#cinema-tab.active, #profile-tab.active, #contact-tab.active, #friend-tab.active {
    color: #e54242;
}

#cinema-tab, #profile-tab, #contact-tab, #friend-tab {
    color: #a8a8a8;
}

#friend-tab {
    margin-left: 63vw;
}

body, .nav-tabs .nav-link.active {
    background-color: #222222;
    border: none;
}

.nav-tabs {
    border: none;
    /* margin-right: 2vw; */
}

#hello {
    margin-left: 15px;
    font-size: 25px;
    font-weight: 100;
    color:#a8a8a8;
}

#addPhoto {
    font-size: 75px;
    color: #a8a8a8;
    position: absolute;
    left: 28%;
    top: 24%;
}

#addPhoto:hover {
    color: #e54242;
}