p {
    color: white;
    text-align: center;
}

hr {
    background-color: white;
}

h1 {
    text-align: left;
    margin-left: 15px;
}

.friendBox {
    width: 145px;
    margin: 20px;
}

#friendContainer {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
}

header {
    position: relative;
}

#main {
    position: absolute;
    right: 15px;
    top: 0px;
}