.mediaContainer {
    padding-left: 20vw;
    padding-right: 20vw;
}

#mediaSearchButton {
    width: 150px;
    float:right;
    background-color: rgb(179, 52, 52);
    margin-top: 5px !important;
}

.form {
    height: 150px;
}

.searchResultDiv {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: flex-start;
}

.enterMedia {
    margin-top: 70px !important;
}

#backToMain {
    float:right;
}

#backText:hover {
    color: #e54242;
}