.mediaContainer {
    padding-left: 20vw;
    padding-right: 20vw;
}

#mediaSearchButton {
    width: 150px;
    float:right;
    background-color: rgb(179, 52, 52);
    margin-top: 5px !important;
}

.form {
    height: 200px;
}

.searchResultDiv {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: vertical;
    margin-bottom: 60px;
}

.enterMedia {
    margin-top: 70px !important;
}

#backToMain {
    float:right;
    margin-bottom: 50px;
}

#backText:hover {
    color: #e54242;
}

.musicMediaItem {
    height: 17vw;
}

hr {
    background-color:#6a6a6a !important;
}